.todo-list {
    width: 40%;
    margin-top: 40px;
    margin-left: 10%;
}

.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 40px;
    transition: all .5s ease;

    .btn-check {
        width: 30px;
        height: 30px;
        padding-top: 2px;
        border: 1px solid #000;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
    }

    &.done {
        text-decoration: line-through;
        color: #ccc;
        .btn-check {
            background-color: #466acd;
            border-color: #466acd;
            svg {
                color: #fff;
            }
        }
    }

    .btn-del {
        // visibility: hidden;
        // opacity: 0;

        &.on {
            visibility: visible;
            opacity: 1;
        }

        svg {
            color: #ccc !important
        }
    }
}

@media (max-width: 768px) {
    .todo-list {
      width: 100%;
      margin-left: 0;
    }
  }

