.todo-list {
    margin-top: 40px;
}

.todo-item {
    position: relative;
    font-size: 24px;
    margin-bottom: 40px;

    input {
        position: absolute;
        outline: none;
        border: none;
        background: transparent;
        appearance: none;

    }

    label {
        width: 30px;
        height: 30px;
        border: 1px solid #333;
        border-radius: 50%;
    }
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}