.todo-list {
    width: 40%;
    margin-top: 40px;
    margin-left: 10%;
}

.todo-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 40px;

    input {
        position: absolute;
        outline: none;
        border: none;
        background: transparent;
        appearance: none;

        & + label {
            position: relative;
            width: 30px;
            height: 30px;
            border: 1px solid #333;
            border-radius: 50%;
            transition: all .5 ease;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 10px;
                top: 11px;
                left: 11px;
                border-radius: 10px;
                transform: rotate(-45deg);
                background-color: #333;
                transition: all .5 ease;
            }

            &::after {
                top: 7px;
                left: 18px;
                height: 14px;
                transform: rotate(40deg);
            }
        }
    }

    input[checked=checked] + label {
        background: #5B74F6;
        border: none;
        
        &::before, &::after {
            background-color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .todo-list {
      width: 100%;
      margin-left: 0;
    }
  }

