@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.day-wrap {
    width: 50%;
    max-width: 500px;
}

.day {
    font-family: 'Oswald', sans-serif;
    margin-right: 15px;
    font-size: 96px;
}

.month, .year, .date {
    font-size: 26px;
}

.year {
    margin-top: 20px;
    color: #777;
}